
## VSCODE EXTENSIONS
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

package-lock.json

/tastebud-app/node_modules
/tastebud-app/package-lock.json
