/* .recipe-instructions-container {
  display: flex; 
  background-color: var(--warm-grey);
  padding: 16px;
  border-radius: 4px;
}

.recipe-instructions h4 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 8px;
    color: #2D2D2D;
}

.instruction-list {
    list-style: decimal;
    margin-left: 20px;
    padding-left: 0;
    color: var(--black);
    font-size: 15px;
    line-height: 1.6;
    margin-top: 0px;
    margin-bottom: 12px;
}

.instruction-list li::marker {
  color: var(--orange);

}
.see-more-btn {
  background-color: var(--orange);
  color: #fff;
  font-weight: 500;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.see-more-btn:hover {
  background-color: var(--orange-opacity);
}

.break-line {
  width:50%; text-align:left; margin-left: 0px
} */

.instruction-box {
  padding: 16px;
  background-color: #fff;
  border-radius: 12px;
  color: #2D2D2D;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--black);
  box-shadow: inset 0 0 5px var(--yellow);
}

.instruction-box h4 {
  margin-top: 5px;
  margin-bottom: 8px;
}

.instruction-list {
  list-style: decimal inside;
  padding: 0;
  margin: 0;
}

.instruction-step {
  margin-bottom: 8px;
  line-height: 1.5;
}

.toggle-instructions {
  color: var(--orange);
  cursor: pointer;
  font-weight: 500;
  margin-top: 8px;
  display: inline-block;
}