/* stylesheet for both Login.jsx + Signup.jsx */

.login-container, .signup-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}

.login-container h2, .signup-container h2 {
  margin-top: 60px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  font-family: 'Inter', sans-serif;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input {
  font-family: 'Inter', sans-serif;
  width: 100%;
  padding: 5px 0px 5px 5px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
.btn-login:hover {
  background-color: #0056b3;
}
  
  .error {
    color: red;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .signup-link {
    text-align: center;
  }


.login-header-bar {
  background-color: var(--orange);
  height: 16px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: -20px;
}
