.recipe-card {
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    max-width: 280px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px 10px 15px;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

.recipe-card:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transform: translateY(-4px);
}
  
.recipe-image-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
  
.recipe-image {
    width: 100%;
    object-fit: cover;
    display: block;
}

.recipe-image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 12px;
} 

.recipe-content {
   display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    padding: 16px;
  
}
  
.recipe-title {
  font-size: 20px;
  font-weight: 600;
  color: #2D2D2D;
  margin-top: 0px;
  margin-bottom: 4px;
}

.recipe-description {
  font-size: 15px;
  color: #2D2D2D;
  opacity: 0.85;
  margin-bottom: 12px;
}

.see-more-btn {
  background-color: var(--orange);
  color: #fff;
  font-weight: 600;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.see-more-btn:hover {
  background-color: var(--orange-opacity);
}

a {
    text-decoration: none;
}

.img-yellow {
  background: var(--yellow);
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}